/* STYLE SECTIONING TAGS */
body {
  font-family: "Courier New", Courier, monospace;
  margin: 2em;
  background-color:#FFC0CB;
}

/* STYLE TEXT */
h1 {
  color: #5e6623;
}

h2 {
  margin-top: 2em; 
}

p {
  font-style: bold;
  color: #5e6623;
  margin-left:5vh;
}

/* STYLE FLEX CONTAINER */
.question {
  display: flex;
  /* uncomment the next line to center the questions and answers */
  /* justify-content: center; */
  margin-top: 2em;
}
  
/* STYLE FLEX ITEM */
.answer-choice {
  margin: 5px;
}

/* STYLE IMAGES */
.answer-choice img {
  height: 10em;
}

/* STYLE BUTTON */
button { 
  font-family: "Courier New", Courier, monospace;
  margin-top: 5px;
  background-color: #5e6623;
  color: #ffffff;
}

.result-section {
  margin-top:15em;
  margin-left:-24.5em;
}